<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>
</head>
<body>


{{> header}}

<h1>{{pageTitle}}</h1>

<h3>Files</h3>

{{#if parentLevel}}
  <a href="{{parentLevel}}">[...]</a>
{{/if}}

{{showFS fileList}}





</body>
</html>