<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>
  {{> settings}}
</head>
<body>


{{> header}}

<div class="page-container">
  <div class="content">

    <div class="breadcrumbs">
      <a href="/" class="breadcrumbs__item">Branchlist</a>
    </div>

    <h1 class="title title_size_xl">{{pageTitle}}</h1>

    <h3>Files</h3>

    {{#if parentLevel}}
      <a href="{{parentLevel}}" class="parent">...</a>
    {{/if}}

    {{showFS fileList}}

    <pre class="file-viewer"></pre>

  </div>
</div>

<script src="/js/bundle.js"></script>

</body>
</html>