<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>
</head>
<body>


{{> header}}

<h1>{{pageTitle}}</h1>

<h3>Branches</h3>

<div class="branches">
  {{#each branches}}
    <li> {{this}}</li>
  {{/each}}
</div>





</body>
</html>